@using Persistence.ViewModels
@model Application.Models.RepositorySearchModel
@{
    var result = ViewBag.Result as List<RepositoryModel>;
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}
@{
    <div class="main">
        <div class="container">
            <form class="form-body" asp-controller="Search" asp-action="Search" method="get">
                <div class="form-body__filters">
                    <div class="sort-lang">
                        <p class="sort-lang__text">
                            Languages
                        </p>
                        <div class="form_radio_btn">
                            <input id="radio-1" type="radio" asp-for="Language" value="All" checked>
                            <label for="radio-1">All</label>
                        </div>
                        <div class="form_radio_btn">
                            <input id="radio-2" type="radio" asp-for="Language" value="Python">
                            <label for="radio-2">Python</label>
                        </div>
                        <div class="form_radio_btn">
                            <input id="radio-3" type="radio" asp-for="Language" value="JavaScript">
                            <label for="radio-3">JavaScript</label>
                        </div>
                        <div class="form_radio_btn">
                            <input id="radio-4" type="radio" asp-for="Language" value="Java">
                            <label for="radio-4">Java</label>
                        </div>
                        <div class="form_radio_btn">
                            <input id="radio-5" type="radio" asp-for="Language" value="HTML">
                            <label for="radio-5">HTML</label>
                        </div>
                        <div class="form_radio_btn">
                            <input id="radio-6" type="radio" asp-for="Language" value="CSharp">
                            <label for="radio-6">CSharp</label>
                        </div>
                        @*<div class="sort-lang__results">
                    <input class="select__item" asp-for="Language" type="radio" checked="checked" value="All" />
                    <span>All</span>
                    </div>
                    <div class="sort-lang__results">
                    <input class="select__item" asp-for="Language" type="radio" value="Python" />
                    <span>Python</span>
                    </div>
                    <div class="sort-lang__results">
                    <input class="select__item" asp-for="Language" type="radio" value="JavaScript" />
                    <span>JavaScript</span>
                    </div>
                    <div class="sort-lang__results">
                    <input class="select__item" asp-for="Language" type="radio" value="Java" />
                    <span>Java</span>
                    </div>
                    <div class="sort-lang__results">
                    <input class="select__item" asp-for="Language" type="radio" value="HTML" />
                    <span>HTML</span>
                    </div>
                    <div class="sort-lang__results">
                    <input class="select__item" asp-for="Language" type="radio" value="CSharp" />
                    <span>CSharp</span>
                    </div>*@
                    </div>
                </div>
                <div class="form-body__main">
                    <div class="form-body__search-util">
                        <div class="form-body__main-search">
                            <span asp-validation-for="SearchString"></span>
                            <div class="search-bar">
                                <input class="serach-bar-text" asp-for="SearchString" placeholder="Search anything" type="text" />
                                <button class="serach-bar-submit" type="submit">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="form-body__results-count">
                        <h3>
                            Найдено @(pager.TotalItems) доступных репозиториев:
                        </h3>
                    </div>

                    <div class="form-body__results">
                        @{
                            if (result != null)
                            {
                                foreach (var item in result)
                                {
                                    <div class="form-body__result">
                                        <div class="form-body__result-ico">
                                            <i class="fa fa-book" aria-hidden="true"></i>
                                        </div>
                                        <div class="form-body__result-body">
                                            <a class="result-body__result-link" target="_blank" href="@item.URL">@item.FullName</a>
                                            <p class="result-body__result-about">@item.Description</p>
                                            <div class="form-body__result-info">
                                                <div class="result-info__stars">
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <span class="result-info__stars-count">@item.StarsCount</span>
                                                </div>
                                                <div class="result-info__lang">
                                                    <span class="result-info__lang-text">@item.Language</span>
                                                </div>
                                                <div class="result-info__update">
                                                    <span class="result-info__update-text">@item.UpdatedAt</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                        @if (pager.TotalPages > 0)
                        {
                            <ul class="pages">
                                @if (pager.CurrentPage > pager.TotalPages)
                                {
                                    <li class="pages_item">
                                        <input asp-controller="Search" asp-for="Page" asp-action="Search" asp-route-pg="@(pager.CurrentPage)" type="submit" value="@(pager.CurrentPage+1)">
                                    </li>

                                }
                                @for (var page = pager.StartPage; page < pager.EndPage; page++)
                                {
                                    <li class="pages_item @(page==pager.CurrentPage ? "active" :"")">
                                        <input asp-controller="Search" asp-for="Page" asp-action="Search" asp-route-pg="@(page)" type="submit" value="@(page)">
                                    </li>
                                }
                            </ul>
                        }
                    </div>
                </div>
            </form>
        </div>
    </div>

}
